@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Montserrat:ital,wght@1,300&family=Schibsted+Grotesk&display=swap');

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Montserrat Alternates', sans-serif;

  background-color: #131722;
  color: #fff;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.form-control,.form-control::placeholder{
  background-color: #131722 !important; 
  color:#fff !important;
}

button{
  background-color: #131722 !important; 
  color:#fff !important;

}